
/* Анімація для фону*/

@keyframes animate1 {
    0%{
        transform: translateY(-1000px) translateX(500px) rotate(720deg);
        opacity: 1;
        border-radius: 5%;
    }
    100%{
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 0.3;
        border-radius: 5%;
    }
}
@keyframes animate2 {
    0%{
        transform: translateY(0) translateX(0) rotate(0deg);
        opacity: 1;
        border-radius: 5%;
    }
    100%{
        transform: translateY(-1000px) translateX(500px) rotate(720deg);
        opacity: 0.3;
        border-radius: 5%;
    }
}
@keyframes animate3 {
    0%{
        transform: translateY(0) translateX(500px) rotate(720deg);
        opacity: 1;
        border-radius: 5%;
    }
    100%{
        transform: translateY(-1000px) translateX(0) rotate(0deg);
        opacity: 0.3;
        border-radius: 5%;
    }
}
@keyframes animate4 {
    0%{
        transform: translateY(-1000px) translateX(0) rotate(720deg);
        opacity: 1;
        border-radius: 5%;
    }
    100%{
        transform: translateY(0) translateX(500px) rotate(0deg);
        opacity: 0.3;
        border-radius: 5%;
    }
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: -1;
}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: #257133;
}

.li1{
      animation: animate1 30s linear infinite;
}
.li2{
    animation: animate2 30s linear infinite;
}
.li3{
    animation: animate3 30s linear infinite;
}
.li4{
    animation: animate4 30s linear infinite;
}



.background li:nth-child(0) {
    left: 24%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 62%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 2s;
}
.background li:nth-child(2) {
    left: 79%;
    width: 53px;
    height: 53px;
    bottom: -53px;
    animation-delay: 10s;
}
.background li:nth-child(3) {
    left: 22%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 10s;
}
.background li:nth-child(4) {
    left: 8%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: 9s;
}
.background li:nth-child(5) {
    left: 32%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 15s;
}
.background li:nth-child(6) {
    left: 66%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 16s;
}
.background li:nth-child(7) {
    left: 67%;
    width: 87px;
    height: 87px;
    bottom: -87px;
    animation-delay: 10s;
}
.background li:nth-child(8) {
    left: 6%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 37s;
}
.background li:nth-child(9) {
    left: 2%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 8s;
}
.background li:nth-child(10) {
    left: 69%;
    width: 55px;
    height: 55px;
    bottom: -55px;
    animation-delay: 32s;
}
.background li:nth-child(11) {
    left: 63%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 5s;
}
.background li:nth-child(12) {
    left: 30%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 25s;
}
.background li:nth-child(13) {
    left: 0%;
    width: 62px;
    height: 62px;
    bottom: -62px;
    animation-delay: 9s;
}
.background li:nth-child(14) {
    left: 15%;
    width: 56px;
    height: 56px;
    bottom: -56px;
    animation-delay: 57s;
}
.background li:nth-child(15) {
    left: 87%;
    width: 74px;
    height: 74px;
    bottom: -74px;
    animation-delay: 9s;
}
.background li:nth-child(16) {
    left: 63%;
    width: 71px;
    height: 71px;
    bottom: -71px;
    animation-delay: 67s;
}
.background li:nth-child(17) {
    left: 19%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 8s;
}
.background li:nth-child(18) {
    left: 3%;
    width: 97px;
    height: 97px;
    bottom: -97px;
    animation-delay: 89s;
}
.background li:nth-child(19) {
    left: 81%;
    width: 67px;
    height: 67px;
    bottom: -67px;
    animation-delay: 49s;
}
.background li:nth-child(20) {
    left: 59%;
    width: 55px;
    height: 55px;
    bottom: -55px;
    animation-delay: 26s;
}
.background li:nth-child(21) {
    left: 82%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 95s;
}
.background li:nth-child(22) {
    left: 13%;
    width: 77px;
    height: 77px;
    bottom: -77px;
    animation-delay: 44s;
}
.background li:nth-child(23) {
    left: 87%;
    width: 86px;
    height: 86px;
    bottom: -86px;
    animation-delay: 96s;
}
.background li:nth-child(24) {
    left: 13%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 9s;
}
.background li:nth-child(25) {
    left: 87%;
    width: 96px;
    height: 96px;
    bottom: -96px;
    animation-delay: 78s;
}
.background li:nth-child(26) {
    left: 60%;
    width: 77px;
    height: 77px;
    bottom: -77px;
    animation-delay: 84s;
}
.background li:nth-child(27) {
    left: 32%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 28s;
}
.background li:nth-child(28) {
    left: 84%;
    width: 59px;
    height: 59px;
    bottom: -59px;
    animation-delay: 39s;
}
.background li:nth-child(29) {
    left: 81%;
    width: 79px;
    height: 79px;
    bottom: -79px;
    animation-delay: 97s;
}
.background li:nth-child(30) {
    left: 24%;
    width: 83px;
    height: 83px;
    bottom: -83px;
    animation-delay: 1s;
}
.background li:nth-child(31) {
    left: 62%;
    width: 73px;
    height: 73px;
    bottom: -73px;
    animation-delay: 2s;
}
.background li:nth-child(32) {
    left: 79%;
    width: 53px;
    height: 53px;
    bottom: -53px;
    animation-delay: 10s;
}
.background li:nth-child(33) {
    left: 22%;
    width: 88px;
    height: 88px;
    bottom: -88px;
    animation-delay: 10s;
}
.background li:nth-child(34) {
    left: 8%;
    width: 78px;
    height: 78px;
    bottom: -78px;
    animation-delay: 9s;
}
.background li:nth-child(35) {
    left: 32%;
    width: 69px;
    height: 69px;
    bottom: -69px;
    animation-delay: 15s;
}
.background li:nth-child(36) {
    left: 66%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 16s;
}
.background li:nth-child(37) {
    left: 67%;
    width: 87px;
    height: 87px;
    bottom: -87px;
    animation-delay: 10s;
}
.background li:nth-child(38) {
    left: 6%;
    width: 60px;
    height: 60px;
    bottom: -60px;
    animation-delay: 37s;
}
.background li:nth-child(39) {
    left: 2%;
    width: 81px;
    height: 81px;
    bottom: -81px;
    animation-delay: 8s;
}








* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(138.9deg, #2e382b 0%, #09210b 100%);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  width: 100%;
  height: 80px;
  /* Градієнт такий самий, як у футері */
  background: #212121;
  display: flex;
  align-items: center;
  padding: 0 5%;
  /* Додаємо тонку лінію знизу для відділення від фону */
  border-bottom: 1px solid rgba(201, 231, 198, 0.2); 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3);
}

.header-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-section {
  display: flex;
  align-items: center;
  gap: 15px;
}

.header-logo {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  border: 1px solid rgba(201, 231, 198, 0.5); /* Рамка навколо лого */
}

.brand-name {
  color: #2c903e;
  font-weight: 700;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.nav ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav ul li a {
  text-decoration: none;
  color: #ffffff;
  background-color: #2c903e;
  padding: 4px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

.nav ul li a:hover {
 scale: 1.1;
}


.nav-underline {
  width: 0;
  height: 2px;
  background: #c9e7c6;
  position: absolute;
  bottom: -5px;
  left: 0;
  transition: 0.3s ease;
}

.nav ul li:hover .nav-underline {
  width: 100%;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start_button {
  width: 90px;
  height: 90px;
  background: #556354;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  font-size: 24px;
  
}

.start_button:hover {
  transform: scale(1.5);
  background: #2c903e;
  
}


footer {
  width: 100%;
  background: #212121;
  color: #2c903e;
  padding: 30px 0 15px;
  margin-bottom: -50px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-top: 2px solid #556354
}

.footer-row {
  width: 85%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-col {
  flex-basis: 20%;
  min-width: 180px;
}

.footer-logo {
  width: 45px;
  margin-bottom: 10px;
}

.footer-col h3 {
  margin-bottom: 20px;
  position: relative;
  font-size: 16px;
}

.underline {
  width: 50px;
  height: 3px;
  background: #3a523a;
  position: absolute;
  top: 25px;
  overflow: hidden;
}

.underline span {
  width: 15px;
  height: 100%;
  background: #c9e7c6;
  position: absolute;
  animation: moving 2s linear infinite;
}

@keyframes moving {
  0% { left: -20px; }
  100% { left: 100%; }
}

.footer-col p, .footer-col li {
  color: #bdc3c7;
  font-size: 13px;
  margin-bottom: 8px;
  list-style: none;
}

.footer-col a {
  color: #2c903e;
  text-decoration: none;
}

form {
  display: flex;
  border-bottom: 1px solid #2c903e;
  padding-bottom: 5px;
}

form input {
  background: #2c903e;
  border: 0;
  outline: none;
  color: #212121;
  width: 100%;
  border-radius: 2px;
}

form button {
  background: transparent;
  border: 0;
  color: #8ac085;
  cursor: pointer;
}

hr {
  width: 85%;
  margin: 20px auto;
  border: 0;
  border-bottom: 1px solid #3a523a;
}

.copyright {
  text-align: center;
  font-size: 12px;
  color: #7f8c8d;
}

.left , .right{
  position: absolute;
}
.left {
  color : white;
  width: 550px;
  height: 450px;
  background-color: #2c903e;
  left: 0px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.right {
  color : white;
  width: 550px;
  height: 450px;
  background-color: #2c903e;
  right: 0px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;

}

.infoTitle{
    border-radius: 5px;
    padding: 2vh;
    background-color: #212121;
    width: 24vw;
    height: 8vh;
    font-family: sans-serif;
    text-align: center;
    margin-top: 3vh;
    
}

.IF1{
margin-left: 5vw;
}

.IF2{
margin-left: 6vw;
}

.IT1P , .IT2P {
    background-color: #2c903e;
    border: 6px solid #212121;
    height: 35vh;
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: left;
    border-radius: 2px;
    scale:0.9;
    box-shadow: 0 0  0 25px#223324;
}

.IT1P{
    margin: 20px 3.5vw auto auto;
}

.IT2P{
    margin: 20px auto auto 2.8vw;
}


.left p{
  color:black;
  font-size: 18px;
  font-family: sans-serif;
  margin: 4vh 2vw 0vw 2vw;
  border-bottom: 2px solid black;
}

.right p{
    color:black;
  font-size: 18px;
  font-family: sans-serif;
  margin: 4vh 2vw 0vw 2vw;
  border-bottom: 2px solid black;
}

.a::after, .b::after, .c::after{
  content:"";
  display: inline-block;
   width: 55px;
  height: 55px;
  background-size: contain; 
  background-repeat: no-repeat;
  transition: 0.3s;
  
}

.a,.b, .c{
  display: inline-flex;
  align-items: center;
}
.a:hover::after, .b:hover::after, .c:hover::after{
  scale: 3;
  transition: 0.3s;

}




.a::after{
  background-image: url("1.png");}
.b::after{
  background-image: url("2.png");}
.c::after{
background-image: url("3.png");}